@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: rgb(0, 0, 0);
	--background-start-rgb: rgb(214, 219, 220);
	--background-end-rgb: rgb(255, 255, 255);
	// Customize Color
	--primaryColor: rgb(8, 16, 40);
	--secondaryColor: rgb(11, 23, 57);
	--borderColor: rgb(52, 59, 79);

	--iconColor: rgb(174, 185, 225);
	--greenColor: rgb(20, 202, 116);
	--secondaryGreenColor: rgba(5, 193, 104, 0.2);
	--redColor: rgb(255, 90, 101);
	--secondaryRedColor: rgba(255, 90, 101, 0.2);
	--yellowColor: rgb(253, 181, 42);
	--secondaryYellowColor: rgba(255, 176, 22, 0.2);

	--mainTextColor: rgb(255, 255, 255);
	--secondaryTextColor: rgb(174, 185, 225);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: rgb(255, 255, 255);
		--background-start-rgb: rgb(0, 0, 0);
		--background-end-rgb: rgb(0, 0, 0);
		// Customize Color
		--primaryColor: rgb(8, 16, 40);
		--secondaryColor: rgb(11, 23, 57);
		--borderColor: rgb(52, 59, 79);

		--iconColor: rgb(174, 185, 225);
		--greenColor: rgb(20, 202, 116);
		--secondaryGreenColor: rgba(5, 193, 104, 0.2);
		--redColor: rgb(255, 90, 101);
		--secondaryRedColor: rgba(255, 90, 101, 0.2);
		--yellowColor: rgb(253, 181, 42);
		--secondaryYellowColor: rgba(255, 176, 22, 0.2);

		--mainTextColor: rgb(255, 255, 255);
		--secondaryTextColor: rgb(174, 185, 225);
	}
}

body {
	color: var(--foreground-rgb);
	background: var(--background-start-rgb);
}

p {
	color: var(--secondaryTextColor);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

// Customize scroll of web system
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #1c2536;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #0606064f;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #0606064f;
}

.css-7ik032-MuiDrawer-docked {
	position: relative;
}

.css-1o1p6p-MuiPaper-root-MuiDrawer-paper {
	position: fixed !important;
}

.admin-button {
	& > .Mui-disabled {
		background-color: red !important;
	}
}

input:-webkit-autofill,
input:-internal-autofill-selected {
	box-shadow: inset 0 0 0 32px rgb(11, 23, 57) !important;
	-webkit-text-fill-color: white;
}

/* global.scss */
.MuiOutlinedInput-root {
	.MuiOutlinedInput-notchedOutline {
		border-color: rgb(52, 59, 79);
	}

	&:hover .MuiOutlinedInput-notchedOutline {
		border-color: rgb(52, 59, 79) !important;
	}

	&.Mui-focused .MuiOutlinedInput-notchedOutline {
		border-color: rgb(52, 59, 79);
	}
}

/* Optional: Change the label color when focused */
.MuiInputLabel-root.Mui-focused {
	color: rgb(52, 59, 79);
}
